*{
    margin: 0%;
}

main .corpo{
    width: 56.4%;
    background-color: #D9925F;
    margin-left: 50px;    
} 

.corpo p {
    margin: 20px;
    width: 90%;
    text-indent: 30px;
    text-align: justify;
    font-family: 'Bebas Neue', Impact, sans-serif;
    line-height: 40px;
    
}
main h2{
    position: relative;
    left: 50px;
    top: 20px;
    background-color: #F6A94D;
    display: inline;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-family: 'Bebas Neue', Impact, sans-serif;

}
main p a{
    text-decoration: none;
    font-size: x-large;
}
.corpo{
    display: inline-block;
    margin: auto;
    
}
.aside__nav{
    display: inline-block;
    position: relative;
    bottom: 590px;
    left: 12%;
    background-color: #F6A94D;
    min-width: 23vw;
    min-height: 19vw;
    border: 3px solid #D9925F;
    
}
.aside__nav nav{
    height: 100%;
    width: 100%;
    position: absolute;
}
.aside__nav a{
    display: block;
    height: 25%;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Bebas Neue', Impact, sans-serif;
}


.aside__ad{
    display: inline-block;
    position: relative;
    bottom: 600px;
    left: 71vw;
    background-color: #F6A94D;
    width: fit-content;
    height: fit-content;
    border: 3px solid #D9925F;}

.aside__ad img{
    width: 23vw;
}
footer {
    background-color: rgb(36, 35, 30);
    height: 120px;
}
.footer_name{
    text-align: center;
}

