@import 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');
*{
    margin: 0%;
}
body{
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    grid-template-rows: 15vw 1fr 30px;
    grid-template-columns: 1fr 35%;
}
header{
    grid-area: header;
    background-color: #991F0E;
    font-family: 'Zilla Slab Highlight', cursive;
    border-bottom:3px solid #EA6F55;
}
main{
    grid-area: main;
    background-color: saddlebrown;
    padding: 20px 0px;

}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
    background-color: rgb(36, 35, 30);
    height: 120px;
    border-top: 3px solid azure;
}


.header__titulo {
    margin: auto;
    padding: 2vw;
    font-size: 2rem;
    color: #F6A94D;
    text-shadow: 1px 0px 5px #EA6F55;
}

.header__nav {
    padding-top: 50px;
    font-size: 1.6rem;
    text-align: center;
}

.header__nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #F6A94D;
    display: inline-block;
}

.header__nav a:hover {
    color: rgb(255, 239, 178);
}

main .corpo{
    border: 3px solid #EA6F55;
    width: 80%;
    background-color: #D9925F;
    margin: auto;    
} 


.corpo p {
    margin: 20px;
    width: 90%;
    text-indent: 30px;
    text-align: justify;
    font-family: 'Bebas Neue', Impact, sans-serif;
    line-height: 40px;
    
}

main h2{
    position: relative;
    left: 50px;
    top: 20px;
    font-size: 2rem;
    background-color: #F6A94D;
    display: inline;
    border-bottom: 1px solid black;
    font-family: 'Bebas Neue', Impact, sans-serif;
    color:#592C0C;
}

main p a{
    color: #592C0C;
    font-size: x-large;
}
main p a:hover{
    color: #991F0E;
}


.aside__nav{
    display: block;
    background-color: saddlebrown;
}

.aside__nav nav{
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 20%;
    width: 70%;
    background-color: #F6A94D;
    border: 3px solid #EA6F55;

}
.aside__nav a:hover{
    color: #991F0E;
}

.aside__nav a{
    height: 25%;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Bebas Neue', Impact, sans-serif;
    color: #592C0C;
}


.ad{
    display: block;
    margin: auto;
    width: 23vw;
    border: 3px solid #D9925F;
}
.ad:hover{
    border: 3px solid #991F0E;
}

.nav__footer{
    display: inline;
    text-align: center;
}
.nav__footer > nav > a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding-right: 17px;

}
.nav__footer > nav >a:first-child{
    padding-left: 1px;
}
.footer_name{
    text-align: center;
    color: white;
    font-size: 1.3rem;
}


/*MEDIA QUERIES para responsividade da página*/
@media screen and (max-width: 1101px) {
    .header__nav {
        padding-top: 30px;}
    .aside__nav nav{
        height: 15%;
    }
}

@media screen and (max-width: 941px) {
    .header__nav {
        padding-top: 20px;}

    .aside__nav nav{
        height: 12%;
    }

    .ad{
        width: 25vw;
    }
    .corpo p{
        line-height: 18px;
    }
    .aside__nav nav{
        height: 15%;
    }
}

@media screen and (max-width: 870px) {
    .header__nav {
        padding-top: 10px;}
    main h2{
        left: 30px;
        top: 10px;
        font-size: 1.5rem;
        }
    .aside__nav a{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 870px){
    html{font-size: 13px;}
}

@media screen and (max-width: 621px){
    html{font-size: 12px;}
    .header__nav{
        padding-top: 0px;
    }
}

@media screen and (max-width: 486px){
    .header__titulo{
        text-align: center;
    }
    
    body{
        grid-template-areas: 
        "header header"
        "aside aside"
        "main main"
        "footer footer";
        grid-template-rows: 20vw 40vw 1fr 30px;
        grid-template-columns: 100%}
    .header__nav{
        padding-top: 12px;
        font-size: 1.3rem;
    }
    .corpo p a{
        font-size: small;
    }
    .corpo p{
        margin: 15px auto;
    }
    .aside__nav nav{
        display: none;
    }
    .ad__link{
        display: block;
        margin-top: 10px;
    }
}

@media screen and (max-width: 452px){
    main h2{
        left: 70px;
        }
    .header__nav{
        padding-top: 6px;
    }
}

@media screen and (max-width: 392px){
    main h2{
        left: 60px;
     }
    .header__nav{
        padding-top: 3px;
    }
    .aside__nav nav{
        height: 10%;
    }
}